# 웹 스크래핑(using `read_html`)

In [35]:
import pandas as pd
import numpy as np

## 한국 야구 승률 표

In [5]:
url = 'https://www.koreabaseball.com/TeamRank/TeamRank.aspx'
tables = pd.read_html(url, encoding='utf-8')
tables

[   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문
 0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28
 1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21
 2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29
 3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30
 4   5  KIA  142  69  72  1  0.489  20.0  7승0무3패  1승  30-0-40  39-1-32
 5   6   NC  141  66  72  3  0.478  21.5  6승0무4패  4승  34-3-33  32-0-39
 6   7   삼성  142  64  76  2  0.457  24.5  5승0무5패  1패  32-2-37  32-0-39
 7   8   롯데  143  63  76  4  0.453  25.0  5승0무5패  2패  26-3-42  37-1-34
 8   9   두산  142  60  80  2  0.429  28.5  5승0무5패  3승  29-1-40  31-1-40
 9  10   한화  143  46  95  2  0.326  43.0  3승0무7패  2승  28-0-44  18-2-51,
     팀명 SSG (승-패-무) LG (승-패-무) KT (승-패-무) 키움 (승-패-무) KIA (승-패-무) NC (승-패-무)  \
 0  SSG           ■      8-7-1      8-8-0     11-5-0      11-5-0      8-7-1
 1   LG       7-8-1          ■      8-7-0     10-6-0      10-6-0      9-6-0
 2   KT       8-8-0      7-8-0          ■      7-8-1       9-4-1      7-8-0
 3   키움      5-11-0     6-10-0      8-7-1          ■      10-6-0     11-4-1
 4  KIA      5-11-0     6-10-0      4-9-1     6-10-0           ■      9-7-0
 5   NC       7-8-1      6-9-0      8-7-0     4-11-1       7-9-0          ■
 6   삼성      4-11-0     4-12-0     5-11-0     5-11-0      10-6-0     6-10-0
 7   롯데      5-10-1      7-7-1      7-9-0     6-10-0      4-12-0      8-8-0
 8   두산      4-11-1     6-10-0     4-12-0      9-6-0       7-9-0      8-8-0
 9   한화      6-10-0     4-12-0      8-8-0     4-12-0      4-12-0      6-8-1

   삼성 (승-패-무) 롯데 (승-패-무) 두산 (승-패-무) 한화 (승-패-무)       합계
 0     11-4-0     10-5-1     11-4-1     10-6-0  88-51-4
 1     12-4-0      7-7-1     10-6-0     12-4-0  85-54-2
 2     11-5-0      9-7-0     12-4-0      8-8-0  78-60-2
 3     11-5-0     10-6-0      6-9-0     12-4-0  79-62-2
 4     6-10-0     12-4-0      9-7-0     12-4-0  69-72-1
 5     10-6-0      8-8-0      8-8-0      8-6-1  66-72-3
 6          ■      8-7-1     10-5-0     12-3-1  64-76-2
 7      7-8-1          ■      7-8-1     12-4-0  63-76-4
 8     5-10-0      8-7-1          ■      9-7-0  60-80-2
 9     3-12-1     4-12-0      7-9-0          ■  46-95-2  ]

In [6]:
tables[0]

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문
0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28
1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21
2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29
3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30
4   5  KIA  142  69  72  1  0.489  20.0  7승0무3패  1승  30-0-40  39-1-32
5   6   NC  141  66  72  3  0.478  21.5  6승0무4패  4승  34-3-33  32-0-39
6   7   삼성  142  64  76  2  0.457  24.5  5승0무5패  1패  32-2-37  32-0-39
7   8   롯데  143  63  76  4  0.453  25.0  5승0무5패  2패  26-3-42  37-1-34
8   9   두산  142  60  80  2  0.429  28.5  5승0무5패  3승  29-1-40  31-1-40
9  10   한화  143  46  95  2  0.326  43.0  3승0무7패  2승  28-0-44  18-2-51

In [7]:
tables[1]

,팀명,SSG (승-패-무),LG (승-패-무),KT (승-패-무),키움 (승-패-무),KIA (승-패-무),NC (승-패-무),삼성 (승-패-무),롯데 (승-패-무),두산 (승-패-무),한화 (승-패-무),합계
0,SSG,■,8-7-1,8-8-0,11-5-0,11-5-0,8-7-1,11-4-0,10-5-1,11-4-1,10-6-0,88-51-4
1,LG,7-8-1,■,8-7-0,10-6-0,10-6-0,9-6-0,12-4-0,7-7-1,10-6-0,12-4-0,85-54-2
2,KT,8-8-0,7-8-0,■,7-8-1,9-4-1,7-8-0,11-5-0,9-7-0,12-4-0,8-8-0,78-60-2
3,키움,5-11-0,6-10-0,8-7-1,■,10-6-0,11-4-1,11-5-0,10-6-0,6-9-0,12-4-0,79-62-2
4,KIA,5-11-0,6-10-0,4-9-1,6-10-0,■,9-7-0,6-10-0,12-4-0,9-7-0,12-4-0,69-72-1
5,NC,7-8-1,6-9-0,8-7-0,4-11-1,7-9-0,■,10-6-0,8-8-0,8-8-0,8-6-1,66-72-3
6,삼성,4-11-0,4-12-0,5-11-0,5-11-0,10-6-0,6-10-0,■,8-7-1,10-5-0,12-3-1,64-76-2
7,롯데,5-10-1,7-7-1,7-9-0,6-10-0,4-12-0,8-8-0,7-8-1,■,7-8-1,12-4-0,63-76-4
8,두산,4-11-1,6-10-0,4-12-0,9-6-0,7-9-0,8-8-0,5-10-0,8-7-1,■,9-7-0,60-80-2
9,한화,6-10-0,4-12-0,8-8-0,4-12-0,4-12-0,6-8-1,3-12-1,4-12-0,7-9-0,■,46-95-2

In [8]:
len(tables)

2

### # 승률이 5할인 팀명은?

In [30]:
df_ranking = tables[0]
df_500 = df_ranking[df_ranking['승률'] > 0.5]
df_500

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문
0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28
1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21
2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29
3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30

In [37]:
df_500.to_numpy()

array([[1, 'SSG', 143, 88, 51, 4, 0.633, 0.0, '5승0무5패', '3패', '49-0-23',
        '39-4-28'],
       [2, 'LG', 141, 85, 54, 2, 0.612, 3.0, '5승0무5패', '1패', '37-1-33',
        '48-1-21'],
       [3, 'KT', 140, 78, 60, 2, 0.565, 9.5, '7승0무3패', '1패', '39-1-31',
        '39-1-29'],
       [4, '키움', 143, 79, 62, 2, 0.56, 10.0, '4승0무6패', '2패', '39-1-32',
        '40-1-30']], dtype=object)

In [41]:
i = 0
print('승률 5할 이상인 팀은')
for line in df_500.to_numpy():
    print(line[0], line[1], line[6])
    i += 1
print('총 {}팀 입니다.'.format(i))

승률 5할 이상인 팀은
1 SSG 0.633
2 LG 0.612
3 KT 0.565
4 키움 0.56
총 4팀 입니다.

### 최다 연승팀은?

In [42]:
df_ranking

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문
0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28
1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21
2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29
3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30
4   5  KIA  142  69  72  1  0.489  20.0  7승0무3패  1승  30-0-40  39-1-32
5   6   NC  141  66  72  3  0.478  21.5  6승0무4패  4승  34-3-33  32-0-39
6   7   삼성  142  64  76  2  0.457  24.5  5승0무5패  1패  32-2-37  32-0-39
7   8   롯데  143  63  76  4  0.453  25.0  5승0무5패  2패  26-3-42  37-1-34
8   9   두산  142  60  80  2  0.429  28.5  5승0무5패  3승  29-1-40  31-1-40
9  10   한화  143  46  95  2  0.326  43.0  3승0무7패  2승  28-0-44  18-2-51

In [49]:
df_ranking['연속']
df_ranking['연속1'] = df_ranking['연속'].apply(lambda x: x[:-1])
df_ranking['연속2'] = df_ranking['연속'].apply(lambda x: '연' + x[-1])
df_ranking

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문 연속1 연속2
0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28   3  연패
1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21   1  연패
2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29   1  연패
3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30   2  연패
4   5  KIA  142  69  72  1  0.489  20.0  7승0무3패  1승  30-0-40  39-1-32   1  연승
5   6   NC  141  66  72  3  0.478  21.5  6승0무4패  4승  34-3-33  32-0-39   4  연승
6   7   삼성  142  64  76  2  0.457  24.5  5승0무5패  1패  32-2-37  32-0-39   1  연패
7   8   롯데  143  63  76  4  0.453  25.0  5승0무5패  2패  26-3-42  37-1-34   2  연패
8   9   두산  142  60  80  2  0.429  28.5  5승0무5패  3승  29-1-40  31-1-40   3  연승
9  10   한화  143  46  95  2  0.326  43.0  3승0무7패  2승  28-0-44  18-2-51   2  연승

In [56]:
df_win = df_ranking[df_ranking['연속2'] == '연승']
df_win

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문 연속1 연속2
4   5  KIA  142  69  72  1  0.489  20.0  7승0무3패  1승  30-0-40  39-1-32   1  연승
5   6   NC  141  66  72  3  0.478  21.5  6승0무4패  4승  34-3-33  32-0-39   4  연승
8   9   두산  142  60  80  2  0.429  28.5  5승0무5패  3승  29-1-40  31-1-40   3  연승
9  10   한화  143  46  95  2  0.326  43.0  3승0무7패  2승  28-0-44  18-2-51   2  연승

In [57]:
df_lose = df_ranking[df_ranking['연속2'] == '연패']
df_lose

   순위   팀명   경기   승   패  무     승률   게임차  최근10경기  연속        홈       방문 연속1 연속2
0   1  SSG  143  88  51  4  0.633   0.0  5승0무5패  3패  49-0-23  39-4-28   3  연패
1   2   LG  141  85  54  2  0.612   3.0  5승0무5패  1패  37-1-33  48-1-21   1  연패
2   3   KT  140  78  60  2  0.565   9.5  7승0무3패  1패  39-1-31  39-1-29   1  연패
3   4   키움  143  79  62  2  0.560  10.0  4승0무6패  2패  39-1-32  40-1-30   2  연패
6   7   삼성  142  64  76  2  0.457  24.5  5승0무5패  1패  32-2-37  32-0-39   1  연패
7   8   롯데  143  63  76  4  0.453  25.0  5승0무5패  2패  26-3-42  37-1-34   2  연패

In [69]:
df_win['연속1'].max()

'4'

In [61]:
i = 0
print('연승인 팀은')
for line in df_win.to_numpy():
    print(str(line[0]) + '위', line[1], str(line[-2]) + line[-1])
    i += 1
print('총 {}팀 입니다.'.format(i))

연승인 팀은
5위 KIA 1연승
6위 NC 4연승
9위 두산 3연승
10위 한화 2연승
총 4팀 입니다.

In [62]:
i = 0
print('연패인 팀은')
for line in df_lose.to_numpy():
    print(str(line[0]) + '위', line[1], str(line[-2]) + line[-1])
    i += 1
print('총 {}팀 입니다.'.format(i))

연패인 팀은
1위 SSG 3연패
2위 LG 1연패
3위 KT 1연패
4위 키움 2연패
7위 삼성 1연패
8위 롯데 2연패
총 6팀 입니다.

In [64]:
df_ranking['연속'].str.replace('승', '연승')
df_ranking['연속'].str.replace('패', '연패')

0    3연패
1    1연패
2    1연패
3    2연패
4     1승
5     4승
6    1연패
7    2연패
8     3승
9     2승
Name: 연속, dtype: object

### 최고 승률팀은?

In [73]:
df_win_max = df_ranking[df_ranking['순위'] == 1]
df_win_max

   순위   팀명   경기   승   패  무     승률  게임차  최근10경기  연속        홈       방문 연속1 연속2
0   1  SSG  143  88  51  4  0.633  0.0  5승0무5패  3패  49-0-23  39-4-28   3  연패

In [87]:
arr = df_win_max.to_numpy()[0]

0.633

In [97]:
print('최근 {} 경기 최고 승률 팀은'.format(arr[2]))
print('{} {}승{}무{}패'.format(arr[1],arr[3],arr[5],arr[4]))
print('승률 {} 입니다.'.format(arr[6]))

최근 143 경기 최고 승률 팀은
SSG 88승4무51패
승률 0.633 입니다.

In [109]:
df_ranking['10경기승률'] = df_ranking['최근10경기'].str[0].max()
df_ranking

,순위,팀명,경기,승,패,무,승률,게임차,최근10경기,연속,홈,방문,연속1,연속2,10경기승률
0,1,SSG,143,88,51,4,0.633,0.0,5승0무5패,3패,49-0-23,39-4-28,3,연패,7
1,2,LG,141,85,54,2,0.612,3.0,5승0무5패,1패,37-1-33,48-1-21,1,연패,7
2,3,KT,140,78,60,2,0.565,9.5,7승0무3패,1패,39-1-31,39-1-29,1,연패,7
3,4,키움,143,79,62,2,0.560,10.0,4승0무6패,2패,39-1-32,40-1-30,2,연패,7
4,5,KIA,142,69,72,1,0.489,20.0,7승0무3패,1승,30-0-40,39-1-32,1,연승,7
5,6,NC,141,66,72,3,0.478,21.5,6승0무4패,4승,34-3-33,32-0-39,4,연승,7
6,7,삼성,142,64,76,2,0.457,24.5,5승0무5패,1패,32-2-37,32-0-39,1,연패,7
7,8,롯데,143,63,76,4,0.453,25.0,5승0무5패,2패,26-3-42,37-1-34,2,연패,7
8,9,두산,142,60,80,2,0.429,28.5,5승0무5패,3승,29-1-40,31-1-40,3,연승,7
9,10,한화,143,46,95,2,0.326,43.0,3승0무7패,2승,28-0-44,18-2-51,2,연승,7

## 네이버 주식 표

In [152]:
import pandas as pd
url = 'https://finance.naver.com/sise/sise_market_sum.nhn?'
tables = pd.read_html(url, encoding='cp949')

df_finance = tables[1]
df_finance = df_finance[df_finance['종목명'].notnull()]
df_finance = df_finance.drop(columns='토론실')
df_finance.columns = ['시가총액순위', '종목명', '현재가','전일비','등락률','액면가','시가총액','상장주식수','외국인비율','거래량', 'PER', 'ROE']
df_finance['시가총액순위'] = df_finance['시가총액순위'].astype('i')
df_finance = df_finance.set_index('시가총액순위')
df_finance

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
시가총액순위,,,,,,,,,,,
1,삼성전자,56500.0,200.0,+0.36%,100.0,3372927.0,5969783.0,49.44,9231047.0,8.57,13.92
2,LG에너지솔루션,484000.0,6000.0,+1.26%,500.0,1132560.0,234000.0,4.40,126108.0,803.99,10.68
3,SK하이닉스,90900.0,1000.0,+1.11%,5000.0,661754.0,728002.0,50.24,1252475.0,5.77,16.84
4,삼성바이오로직스,812000.0,0.0,0.00%,2500.0,577933.0,71174.0,10.51,18409.0,107.99,8.21
5,삼성전자우,51300.0,700.0,+1.38%,100.0,422141.0,822887.0,71.48,460458.0,7.78,NaN
6,LG화학,592000.0,9000.0,+1.54%,5000.0,417907.0,70592.0,48.31,117147.0,20.87,18.47
7,삼성SDI,589000.0,4000.0,+0.68%,5000.0,405023.0,68765.0,44.92,82613.0,27.48,8.45
8,현대차,175500.0,2500.0,-1.40%,5000.0,374988.0,213668.0,29.00,243616.0,7.79,6.84
9,기아,70600.0,900.0,-1.26%,5000.0,286187.0,405363.0,37.04,534358.0,5.40,14.69
10,NAVER,162000.0,5000.0,-2.99%,100.0,265760.0,164049.0,50.19,1509085.0,26.43,106.72
11,셀트리온,166500.0,3500.0,-2.06%,1000.0,234418.0,140792.0,21.14,162107.0,41.66,16.04
12,카카오,51600.0,3200.0,-5.84%,100.0,229786.0,445322.0,28.08,2446362.0,10.32,17.10
13,삼성물산,110000.0,1000.0,+0.92%,100.0,205576.0,186887.0,16.52,109236.0,13.10,5.40
14,POSCO홀딩스,226500.0,2500.0,+1.12%,5000.0,191554.0,84571.0,53.75,125239.0,2.73,13.97
15,현대모비스,200500.0,500.0,-0.25%,5000.0,189619.0,94573.0,35.61,85351.0,8.00,6.87
16,KB금융,45950.0,150.0,+0.33%,5000.0,187888.0,408897.0,73.58,372896.0,4.06,9.80
17,신한지주,35450.0,750.0,+2.16%,5000.0,181835.0,512934.0,61.70,622504.0,4.40,8.80
18,SK,207500.0,5000.0,+2.47%,200.0,153860.0,74149.0,22.29,49493.0,4.66,10.19
19,SK이노베이션,159500.0,6500.0,+4.25%,5000.0,147483.0,92466.0,25.68,227421.0,5.83,1.91
20,LG전자,80700.0,100.0,+0.12%,5000.0,132064.0,163648.0,25.69,199858.0,7.92,6.32
21,삼성생명,65100.0,2200.0,+3.50%,500.0,130200.0,200000.0,13.17,169087.0,17.84,4.01
22,포스코케미칼,163500.0,5000.0,+3.15%,500.0,126652.0,77463.0,7.67,437845.0,92.37,7.92
23,한국전력,19250.0,300.0,-1.53%,5000.0,123578.0,641964.0,14.81,534127.0,-0.80,-7.99
24,고려아연,607000.0,14000.0,-2.25%,5000.0,120569.0,19863.0,21.80,23979.0,13.44,11.07
25,LG,76600.0,900.0,+1.19%,5000.0,120493.0,157301.0,36.27,92068.0,5.26,12.36
26,KT&G,86500.0,500.0,-0.57%,5000.0,118758.0,137292.0,42.11,86832.0,11.21,10.74
27,하나금융지주,38000.0,650.0,+1.74%,5000.0,112443.0,295903.0,71.29,402011.0,3.25,10.86
28,SK텔레콤,50600.0,100.0,+0.20%,100.0,110730.0,218833.0,46.69,340283.0,8.72,13.63
29,현대중공업,124500.0,0.0,0.00%,5000.0,110523.0,88773.0,5.69,69880.0,-14.97,-14.87
30,LG생활건강,653000.0,3000.0,+0.46%,5000.0,101987.0,15618.0,37.57,18990.0,19.39,16.65
31,S-Oil,85400.0,500.0,+0.59%,2500.0,96146.0,112583.0,81.65,119592.0,3.97,21.76
32,크래프톤,193500.0,7500.0,-3.73%,100.0,94954.0,49072.0,28.90,132866.0,15.03,17.86
33,두산에너빌리티,14550.0,250.0,-1.69%,5000.0,92874.0,638308.0,11.41,1692574.0,109.40,10.67
34,삼성화재,193000.0,3500.0,+1.85%,500.0,91433.0,47375.0,49.90,20656.0,8.46,7.09
35,KT,34900.0,550.0,-1.55%,5000.0,91128.0,261112.0,44.51,431974.0,6.34,9.36
36,한화솔루션,47550.0,2450.0,-4.90%,5000.0,90953.0,191278.0,23.01,1467627.0,26.17,8.79
37,삼성에스디에스,117000.0,1000.0,+0.86%,500.0,90532.0,77378.0,13.54,35735.0,11.90,8.80
38,삼성전기,120500.0,500.0,+0.42%,5000.0,90006.0,74694.0,26.11,155719.0,9.06,14.29
39,카카오뱅크,18800.0,1450.0,-7.16%,5000.0,89607.0,476631.0,13.68,3611604.0,41.69,4.91
40,HMM,18150.0,200.0,-1.09%,5000.0,88761.0,489039.0,9.15,736730.0,0.76,88.62
41,우리금융지주,11300.0,200.0,+1.80%,5000.0,82271.0,728061.0,40.31,566930.0,2.81,10.59
42,대한항공,22300.0,350.0,+1.59%,5000.0,82113.0,368221.0,14.61,506060.0,5.21,11.60
43,엔씨소프트,349500.0,1000.0,-0.29%,500.0,76729.0,21954.0,42.95,30130.0,15.07,12.62
44,기업은행,9920.0,150.0,+1.54%,5000.0,73835.0,744301.0,13.45,469730.0,3.26,9.21
45,LG이노텍,300000.0,1000.0,+0.33%,5000.0,71001.0,23667.0,24.58,139580.0,7.37,30.94
46,아모레퍼시픽,106500.0,500.0,+0.47%,500.0,62295.0,58493.0,25.76,48933.0,87.51,4.20
47,현대글로비스,165000.0,0.0,0.00%,500.0,61875.0,37500.0,46.27,20186.0,5.98,14.41
48,CJ제일제당,406000.0,4000.0,+1.00%,5000.0,61120.0,15054.0,24.46,9044.0,10.25,10.76
49,한국조선해양,80400.0,800.0,+1.01%,5000.0,56902.0,70773.0,20.50,106716.0,-8.20,-8.95
50,SK바이오사이언스,73200.0,5200.0,-6.63%,500.0,56206.0,76784.0,3.96,493552.0,16.77,38.08

## 위키피디아 올림픽 메달 표

In [17]:
import pandas as pd

url = 'https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84'
tables = pd.read_html(url, encoding='utf-8')
tables[0]

,국가 (IOC 코드),하계 참가 횟수,Unnamed: 2,Unnamed: 3,Unnamed: 4,계,동계 참가 횟수,Unnamed: 7,Unnamed: 8,Unnamed: 9,계.1,전체 참가 횟수,Unnamed: 12,Unnamed: 13,Unnamed: 14,총합
0,아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
1,알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
2,아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
3,아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
4,오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,독립 (IOA) [IOA],3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
149,독립 참가 (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
150,러시아 출신 올림픽 선수 (OAR),0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
151,혼성 (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
152,총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858

In [39]:
df_medal = tables[0]
df_medal.columns = ['국가 (IOC 코드)', '하계 참가 횟수', '하계 금', '하계 은', '하계 동',
       '계', '동계 참가 횟수', '동계 금', '동계 은', '동계 동', '계.1',
       '전체 참가 횟수', '전체 금', '전체 은', '전체 동', '총합']
df_medal = df_medal.set_index('국가 (IOC 코드)')
df_medal.head(5)

,하계 참가 횟수,하계 금,하계 은,하계 동,계,동계 참가 횟수,동계 금,동계 은,동계 동,계.1,전체 참가 횟수,전체 금,전체 은,전체 동,총합
국가 (IOC 코드),,,,,,,,,,,,,,,
아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [41]:
df_medal = df_medal.sort_values('총합', ascending=False)
df_medal.head(5)

,하계 참가 횟수,하계 금,하계 은,하계 동,계,동계 참가 횟수,동계 금,동계 은,동계 동,계.1,전체 참가 횟수,전체 금,전체 은,전체 동,총합
국가 (IOC 코드),,,,,,,,,,,,,,,
총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858
미국 (USA) [P] [Q] [R] [Z] [F],27,1022,795,706,2523,23,105,112,88,305,50,1127,907,794,2828
소련 (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
영국 (GBR) [GBR] [Z],28,263,295,293,851,23,11,4,17,32,51,274,299,310,883
독일 (GER) [GER] [Z],16,191,194,230,615,12,92,88,60,240,28,283,282,290,855

In [42]:
df_medal.to_csv('올림픽 메달 집계.csv')
df_medal.to_excel('올림픽 메달 집계.xlsx')

In [46]:
df_medal2 = df_medal[df_medal['총합'] >= 100]
df_medal2 = df_medal2.drop(index='총합')
df_medal2.head(5)

,하계 참가 횟수,하계 금,하계 은,하계 동,계,동계 참가 횟수,동계 금,동계 은,동계 동,계.1,전체 참가 횟수,전체 금,전체 은,전체 동,총합
국가 (IOC 코드),,,,,,,,,,,,,,,
미국 (USA) [P] [Q] [R] [Z] [F],27,1022,795,706,2523,23,105,112,88,305,50,1127,907,794,2828
소련 (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
영국 (GBR) [GBR] [Z],28,263,295,293,851,23,11,4,17,32,51,274,299,310,883
독일 (GER) [GER] [Z],16,191,194,230,615,12,92,88,60,240,28,283,282,290,855
프랑스 (FRA) [O] [P] [Z],28,212,241,263,716,23,36,35,53,124,51,248,276,316,840

In [47]:
df_medal2['금메달 비중'] = (df_medal2['전체 금'] / df_medal2['총합']).round(2)
df_medal2 = df_medal2.sort_values('금메달 비중', ascending=False)
df_medal2

,하계 참가 횟수,하계 금,하계 은,하계 동,계,동계 참가 횟수,동계 금,동계 은,동계 동,계.1,전체 참가 횟수,전체 금,전체 은,전체 동,총합,금메달 비중
국가 (IOC 코드),,,,,,,,,,,,,,,,
미국 (USA) [P] [Q] [R] [Z] [F],27,1022,795,706,2523,23,105,112,88,305,50,1127,907,794,2828,0.40
연합 (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,0.40
소련 (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,0.39
중화인민공화국 (CHN) [CHN],10,224,167,155,546,11,13,28,21,62,21,237,195,176,608,0.39
뉴질랜드 (NZL) [NZL],23,46,27,44,117,16,0,1,2,3,39,46,28,46,120,0.38
동독 (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,0.37
러시아 (RUS) [RUS],6,148,125,153,426,6,47,38,35,120,12,195,163,188,546,0.36
노르웨이 (NOR) [Q],25,56,49,47,152,23,132,125,111,368,48,188,174,158,520,0.36
대한민국 (KOR),17,90,87,90,267,18,31,25,14,70,35,121,112,104,337,0.36
이탈리아 (ITA) [M] [S],27,206,178,193,577,23,40,36,48,124,50,246,214,241,701,0.35
헝가리 (HUN),26,175,147,169,491,23,1,2,4,7,49,176,149,173,498,0.35
쿠바 (CUB) [Z],20,78,68,80,226,0,0,0,0,0,20,78,68,80,226,0.35
독일 (GER) [GER] [Z],16,191,194,230,615,12,92,88,60,240,28,283,282,290,855,0.33
스웨덴 (SWE) [Z],27,145,170,179,494,23,57,46,55,158,50,202,216,234,652,0.31
영국 (GBR) [GBR] [Z],28,263,295,293,851,23,11,4,17,32,51,274,299,310,883,0.31
일본 (JPN),22,142,136,161,439,21,14,22,22,58,43,156,158,183,497,0.31
핀란드 (FIN),25,101,85,117,303,23,43,63,61,167,48,144,148,178,470,0.31
네덜란드 (NED) [Z],26,85,92,108,285,21,45,44,41,130,47,130,136,149,415,0.31
스위스 (SUI),28,50,75,67,192,23,56,45,52,153,51,106,120,119,345,0.31
스페인 (ESP) [Z],23,45,64,41,150,20,1,0,3,4,43,46,64,44,154,0.30
체코슬로바키아 (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,0.30
케냐 (KEN),14,31,38,34,103,4,0,0,0,0,18,31,38,34,103,0.30
프랑스 (FRA) [O] [P] [Z],28,212,241,263,716,23,36,35,53,124,51,248,276,316,840,0.30
오스트레일리아 (AUS) [AUS] [Z],26,147,163,187,497,19,5,5,5,15,45,152,168,192,512,0.30
루마니아 (ROU),21,89,95,122,306,21,0,0,1,1,42,89,95,123,307,0.29
우크라이나 (UKR),6,35,30,56,121,7,3,1,4,8,13,38,31,60,129,0.29
그리스 (GRE) [Z],28,33,43,40,116,19,0,0,0,0,47,33,43,40,116,0.28
서독 (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,0.28
벨기에 (BEL),26,40,53,55,148,21,1,2,3,6,47,41,55,58,154,0.27
캐나다 (CAN),26,64,102,136,302,23,73,64,62,199,49,137,166,198,501,0.27
오스트리아 (AUT),27,18,33,36,87,23,64,81,87,232,50,82,114,123,319,0.26
독일 연합 (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,0.26
폴란드 (POL),21,68,83,133,284,23,7,7,8,22,44,75,90,141,306,0.25
불가리아 (BUL) [H],20,51,87,80,218,20,1,2,3,6,40,52,89,83,224,0.23
덴마크 (DEN) [Z],27,45,74,75,194,14,0,1,0,1,41,45,75,75,195,0.23
브라질 (BRA),22,30,36,63,129,8,0,0,0,0,30,30,36,63,129,0.23